.Blog {
    display: flex;
    position: relative;
}
.blogtit{
    font-family: "Aldone",sans-serif!important;
    font-size: 5.5rem;
    line-height: 1;
    display: flex;
    --tw-text-opacity: 1;
    color: rgba(255,196,0,var(--tw-text-opacity));
    position: absolute;
    bottom: 13px;
    left: 13rem;
    font-weight: 900;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;}

.btitle{
    width: 100%;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 10rem;
}
.Blogstroke{
    font-size: 8rem;
    color: black;
    margin-left: 94%;
    -webkit-text-stroke: 2px #666768c8;
}

@media only screen and (max-width: 900px) {
    .Blog{
        position: relative;
margin-left: -15%;
    }
}
@media only screen and (max-width: 700px) {
    .Blog{
        position: relative;
        margin-left: -15%;
    }
}
@media only screen and (max-width: 560px) {
    .Blog{
        position: relative;
        margin-left: -46%;
        margin-bottom: 7%;
    }
}
@media only screen and (max-width: 450px) {
    .Blog{
        position: relative;
        margin-left: -60%;
        margin-bottom: 7%;
    }
}

