.nav{
    display: flex;
    flex-wrap: wrap;
    --tw-bg-opacity: 1;
    background-color: rgba(0,0,0,var(--tw-bg-opacity));
    justify-content: flex-start;
    align-items: center;
    padding-top: -4rem;
    margin-top: -10%;
    width: 100%;
    position: fixed;
    background: black;
    z-index: 10;
}