.industries {
    display: flex;
    position: relative;
}
.industry{
    font-family: "Aldone",sans-serif!important;
    font-size: 5.5rem;
    line-height: 1;
    display: flex;
    --tw-text-opacity: 1;
    color: rgba(255,196,0,var(--tw-text-opacity));
    position: absolute;
    bottom: 10px;
    left: 10rem;
    font-weight: 800;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;}

.ititle{
    width: 100%;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 5rem;
}
.industryStroke{
    font-size: 10rem;
    font-size: 8rem;
    color: black;
    margin-left: 40%;
    -webkit-text-stroke: 2px #666768c8;
}

@media only screen and (max-width: 900px) {
    .industries{
        position: relative;
margin-left: -15%;
    }
}
@media only screen and (max-width: 700px) {
    .industries{
        position: relative;
        margin-left: -15%;
    }
}
@media only screen and (max-width: 560px) {
    .industries{
        position: relative;
        margin-left: -46%;
        margin-bottom: 7%;
    }
}
@media only screen and (max-width: 450px) {
    .industries{
        position: relative;
        margin-left: -60%;
        margin-bottom: 7%;
    }
}
.a{    display: flex;
    margin-top: 0%;
    justify-content: center;
    align-items: center;
    margin-left: 13%;
    gap: 20px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 15%;
}
.src{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
