.banking {
  position: relative;
  border: 1px solid orange;
  border-top-left-radius: 10px;
}
.banking:hover {
  overflow: hidden;
color: orange;
z-index: 1;
  transition: all 1s ease 0s;
  filter: brightness(0.3);
  box-shadow: 1px 8px 20px orange;
}

.business {
  
  border: 1px solid orange;
  border-top-right-radius: 10px;
}
.business:hover {
  overflow: hidden;
  transition: all 1s ease 0s;
  mix-blend-mode: screen;
  filter: brightness(0.3);
  box-shadow: 1px 8px 20px orange;
}

.education {
  border: 1px solid orange;
  border-bottom-right-radius: 10px;
}
.education:hover {
  overflow: hidden;
  transition: all 1s ease 0s;
  mix-blend-mode: screen;
  filter: brightness(0.3);
  box-shadow: 1px 8px 20px orange;
}
.entertainment {
  border: 1px solid orange;
}
.entertainment:hover {
  overflow: hidden;
  transition: all 1s ease 0s;
  mix-blend-mode: screen;
  filter: brightness(0.3);
  box-shadow: 1px 8px 20px orange;
}
.medical {
  border: 1px solid orange;
  border-bottom-left-radius: 10px;
}
.medical:hover {
  overflow: hidden;
  transition: all 1s ease 0s;
  mix-blend-mode: screen;
  filter: brightness(0.3);
  box-shadow: 1px 8px 20px orange;
}
.shopping {
  border: 1px solid orange;
  
}
.shopping:hover {
  overflow: hidden;
  transition: all 1s ease 0s;
  mix-blend-mode: screen;
  filter: brightness(0.3);
  box-shadow: 1px 8px 20px orange;
}
.a{
  text-decoration: none;
    color: black;
    display: flex;
    gap: 1%;
} 




.backAndmed {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 9px;
}


.busiAndedu {
  display: flex;
  gap: 20px;
 
  /* height: 425px; */
}

.enterAndshop {
  display: flex;
  gap: 9px;
  flex-direction: column;
  flex-wrap: wrap;
  
 
}
@media only screen and (max-width: 1024px) {
  .a{
    
  }
}
@media only screen and (max-width: 768px) {
  .a{

  }
}@media only screen and (max-width: 586px) {
  .a{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    margin-top: 12%;
    flex-wrap: wrap;
  }
  .banking{
    width: 35%;
    border: 5px solid orange;
  }
  
  .medical{
    width: 35%;
    border: 5px solid orange;
  }
  
  .backAndmed{
    flex-direction: row;
    width: 102rem;
  }
  .entertainment{
    width: 30%;
    border: 5px solid orange;
  }
  .shopping{
    width: 30%;
    border: 5px solid orange;
  }
  .busiAndedu{
    margin-left: 9.5rem;
    display: flex;
    margin-top: -10rem;
    gap: 17px;
    height: 73rem;
    width: 54rem;
    transform: rotate(90deg);

  }
  .enterAndshop{
    flex-direction: row;
    width: 101rem;
    margin-top: -29rem;
  }
  .business{
width: 35%;
border: 5px solid orange;
  }
  .education{
width: 35%;
border: 5px solid orange;
  }
}
