/* .BlogImages{
    width: 100%;
    border-radius: 0.5rem;
    z-index: 10;
    max-height: 200px;
    min-height: 200px;

}
.image{
    width: 100%;
    margin-bottom: 0.25rem;
} */
/* .blog{
    --tw-space-y-reverse: 0;
    margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
} */
/* .blogCont{
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    display: grid;
    height: 100%;
    place-items: center start;
    -webkit-box-align: center;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(255,196,0,var(--tw-border-opacity));
    padding: 0.75rem;
    border-radius: 0.5rem;
    overflow: hidden;
    z-index: 10;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    max-width: 350px;
    min-height: 332px;
    max-height: 332px;
} */