.image {
  position: absolute;
    left: 6%;
    top: -17%;
    width: 12%;
    background-color: black;
}
.title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Ld mono", sans-serif;
  font-size: 15px;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(255, 196, 0, var(--tw-text-opacity));
}
/* @media only screen and (max-width: 586px) {
  
} */

  

.cont {
  color: #909090;
  font-size: 15px;
}
@media only screen and (max-width: 586px) {
  .title{    font-size: 65px;
  
  }
  .cont{
    font-size: 60px;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  /* width: 25%; */
  justify-content: center;
  /* margin-left: 0%; */
  margin: 2%;
  gap: 2%;  
}
@media only screen and (max-width: 1024px) {
  .card{
    flex: 0 0 90rem;
    /* margin-left: 26%; */
  }
  
}
@media only screen and (max-width: 768px) {
  .card{
    /* margin-left: 70%; */
  }
}
@media only screen and (max-width: 586px) {
  .card{
    display: flex;
    flex-direction: row;
    flex: 0 0 220%;
    margin-left: 180%;
    margin-top: 10%;
}
}
  

.uiuxcard {
  position: relative;
  display: flex;
  width: 296px;
  height: 95px;
  padding: 20px 15px;
  align-items: flex-end;
  background-color: transparent;
  border: 1px solid rgb(126, 83, 3);
  transition: color 0.25s;
  flex-wrap: wrap;
  border-radius: 5px;
  cursor: pointer;
  margin: 1%;
}
.uiuxcard:hover {
  border: 1px solid orange;
  transition:0.5s
}
@media only screen and (max-width: 1024px) {
  .uiuxcard{
    /* margin: 4%; */
  }
}
@media only screen and (max-width: 768px) {
  .uiuxcard{
    /* margin: 3%; */
  }
}@media only screen and (max-width: 586px) {
  .uiuxcard{
    margin-top: 2%;
    /* margin-left: 24%; */
    padding: 17px;
    width: 100%;
    height: 15%;
    border: 3px solid rgb(126, 83, 3);
}
.image{
  width: 12%;
}
  
}
